<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OBSブラウザ用 レート表示HTML</title>
    <link rel="stylesheet" href="./assets/css/rate.css">
</head>

<body>
    <div id="app">
        <div id="grade">
            <span class="name">{{gradeName}}</span>
            <span class="point">{{gradePoint}}</span>
        </div>
        <div id="scale">
            <div class="bronze"><img src="./assets/img/cooper.png" alt="bronze">{{scale.bronze.toLocaleString()}}</div>
            <div class="silver"><img src="./assets/img/silver.png" alt="silver">{{scale.silver.toLocaleString()}}</div>
            <div class="gold"><img src="./assets/img/gold.png" alt="gold">{{scale.gold.toLocaleString()}}</div>
        </div>
        <div id="regularPoint" class="pointCard">
            <span class="heading">現在のポイント: </span>
            {{pointCard.regularPoint.toLocaleString()}}p
        </div>
        <div id="playCount" class="pointCard">
            <span class="heading">バイト回数: </span>
            {{pointCard.playCount.toLocaleString()}}
        </div>
        <div id="goldenDeliverCount" class="pointCard">
            <span class="heading">集めた金イクラ: </span>
            {{pointCard.goldenDeliverCount.toLocaleString()}}
        </div>
        <div id="deliverCount" class="pointCard">
            <span class="heading">集めたイクラ: </span>
            {{pointCard.deliverCount.toLocaleString()}}
        </div>
        <div id="defeatBossCount" class="pointCard">
            <span class="heading">倒したオカシラシャケ: </span>
            {{pointCard.defeatBossCount.toLocaleString()}}
        </div>
        <div id="rescueCount" class="pointCard">
            <span class="heading">助けた回数: </span>
            {{pointCard.rescueCount.toLocaleString()}}
        </div>
        <div id="totalPoint" class="pointCard">
            <span class="heading">るいけいポイント: </span>
            {{pointCard.totalPoint.toLocaleString()}}p
        </div>
        <div id="dangerRate">
            {{latestDangerRate}}<span>%</span>
        </div>
        <div id="win-def">
            {{shiftPlayCount}}<span>戦</span>
            {{shiftWinCount}}<span>勝</span>
            {{shiftDefeatCount}}<span>敗</span>
        </div>
        <div id="shiftStatsList">
            <template v-for="stat in shiftStatsListSliced">
                <span v-if="stat === 0">
                    ●
                </span>
                <span v-else class="defeat">
                    <span>●</span>
                    <span class="num">{{stat}}</span>
                </span>
            </template>
        </div>
        <section id="boss-salmonid">
            <div id="steelhead" class="boss">
                <div class="icon">
                    <img src="./assets/img/steelhead.png" alt="バクダン">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countSteelheadDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countSteelheadDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countSteelheadDefeat.popCount}}</span>
                </div>
            </div>
            <div id="flyfish" class="boss">
                <div class="icon">
                    <img src="./assets/img/flyfish.png" alt="カタパッド">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countFlyfishDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countFlyfishDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countFlyfishDefeat.popCount}}</span>
                </div>
            </div>
            <div id="scrapper" class="boss">
                <div class="icon">
                    <img src="./assets/img/scrapper.png" alt="カタパッド">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countScrapperDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countScrapperDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countScrapperDefeat.popCount}}</span>
                </div>
            </div>
            <div id="steeleel" class="boss">
                <div class="icon">
                    <img src="./assets/img/steeleel.png" alt="カタパッド">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countSteelEelDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countSteelEelDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countSteelEelDefeat.popCount}}</span>
                </div>
            </div>
            <div id="stinger" class="boss">
                <div class="icon">
                    <img src="./assets/img/stinger.png" alt="タワー">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countStingerDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countStingerDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countStingerDefeat.popCount}}</span>
                </div>
            </div>
            <div id="maws" class="boss">
                <div class="icon">
                    <img src="./assets/img/maws.png" alt="モグラ">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countMawsDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countMawsDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countMawsDefeat.popCount}}</span>
                </div>
            </div>
            <div id="drizzler" class="boss">
                <div class="icon">
                    <img src="./assets/img/drizzler.png" alt="コウモリ">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countDrizzlerDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countDrizzlerDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countDrizzlerDefeat.popCount}}</span>
                </div>
            </div>
            <div id="fishstick" class="boss">
                <div class="icon">
                    <img src="./assets/img/fishstick.png" alt="ハシラ">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countFishStickDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countFishStickDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countFishStickDefeat.popCount}}</span>
                </div>
            </div>
            <div id="flipperflopper" class="boss">
                <div class="icon">
                    <img src="./assets/img/flipperflopper.png" alt="ダイバー">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countFlipperFlopperDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countFlipperFlopperDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countFlipperFlopperDefeat.popCount}}</span>
                </div>
            </div>
            <div id="bigshot" class="boss">
                <div class="icon">
                    <img src="./assets/img/bigshot.png" alt="テッキュウ">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countBigShotDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countBigShotDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countBigShotDefeat.popCount}}</span>
                </div>
            </div>
            <div id="slamminlid" class="boss">
                <div class="icon">
                    <img src="./assets/img/slamminlid.png" alt="ナベブタ">
                </div>
                <div class="data">
                    <span class="team-defeat">{{countSlamminLidDefeat.teamDefeatCount}}</span>
                    <span class="defeat">({{countSlamminLidDefeat.defeatCount}})</span>
                    <span class="slash">/</span>
                    <span class="popcount">{{countSlamminLidDefeat.popCount}}</span>
                </div>
            </div>
        </section>
    </div>
    <script src="./vue.global.prod.js"></script>
    <script src="./axios.min.js"></script>
    <script src="./moment-with-locale.js"></script>
    <script src="./nextwave-rate.js"></script>
</body>

</html>